{% comment %} 
Bugs/Limitations:
    - Can only have product images that correspond to color variants [RESOLVED: Liquid refactored; images that aren't tied to variants are now supported.]
        - Images not assigned to a color aren't shown when clicked
        - FIX: Add function to update main image when a carousel thumbnail is clicked
    - Product images, color variants, and color metadata must all be sorted in
        the same order
        - FIX: Have attribute tags that connect variant images to color variants
    - Only 1 image per color variant [RESOLVED: Shopify default behavior, requires complex workarounds/apps to solve]
        - FIX: Add data-color attribute for each color variation, refactor JS so that the 
            thumbnail buttons aren't connected to swatch buttons according to array order
    - Image carousel does not highlight which image is being displayed
    - Image carousel and color swatch don't automatically scroll to the image
        that is being displayed when a color is selected
    - Selected product is not added to cart
{% endcomment %}

{{ 'product-page.css' | asset_url | stylesheet_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script src="{{ 'product-page-jquery.js' | asset_url }}" type="module" defer="defer"></script>
{% style %}

  {% for color in product.metafields.custom.product_colors.value %}
    .color-btn-label[for="color-{{forloop.index}}"] {
        background-color: {{ color }}
    }
  {% endfor %}

{% endstyle %} 

{% comment %} <nav>
    <div class="nav-section" id="nav-logo">
        <a href="#">
        
        </a>
    </div>

    <div class="nav-section" id="nav-categories">
        <a href="{{ routes.root_url }}">Home</a>
        <a href="#">Our Bottles</a>
        <a href="#">Our Impacts</a>
        <a href="#">Our Story</a>
    </div>

    <div class="nav-section" id="nav-cart">
    </div>
</nav> {% endcomment %}

<main id="product-container">
    
    <section id="img-container"> 
    
        {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

        <div id="main-image-wrapper">
            <ul>
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            {%- if product.selected_or_first_available_variant.featured_media != null -%}
                <li 
                  class="product-media-item is-active{% if variant_images contains featured_media.src %} product-media-item--variant{% endif %}"
                >
                    <img
                      class="product-image"
                      srcset="
                      {% if featured_media.width >= 288 %}{{ featured_media | image_url: width: 288 }} 288w,{% endif %}
                      {% if featured_media.width >= 576 %}{{ featured_media | image_url: width: 576 }} 576w,{% endif %}
                      {% if featured_media.width >= 550 %}{{ featured_media | image_url: width: 550 }} 550w,{% endif %}
                      {% if featured_media.width >= 1100 %}{{ featured_media | image_url: width: 1100 }} 1100w,{% endif %}"
                      src="{{ featured_media | image_url: width: 1100 }}"
                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                      loading="lazy"
                      width="576"
                      media-id="{{ featured_media.id }}"
                      alt="{{ featured_media.alt | escape }}"
                    >
                </li>
            {%- endif -%}
            {% for image in product.images %}
              {% unless image.id == featured_media.id %}
                <li
                  class="product-media-item{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if variant_images contains image.src %} product-media-item--variant{% endif %}"
                >
                    <img
                      class="product-image"
                      srcset="
                      {% if image.width >= 288 %}{{ image | image_url: width: 288 }} 288w,{% endif %}
                      {% if image.width >= 576 %}{{ image | image_url: width: 576 }} 576w,{% endif %}
                      {% if image.width >= 550 %}{{ image | image_url: width: 550 }} 550w,{% endif %}
                      {% if image.width >= 1100 %}{{ image | image_url: width: 1100 }} 1100w,{% endif %}"
                      src="{{ image | image_url: width: 1100 }}"
                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                      loading="lazy"
                      width="576"
                      media-id="{{ image.id }}"
                      alt="{{ image.alt | escape }}"
                    >
                </li>
              {% endunless %}
            {% endfor %}
            </ul>
        </div>

        <div id="img-horizontal-carousel">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            <button class="carousel-btn is-active carousel-selected-variant{% if variant_images contains featured_media.src %} carousel-btn--variant{% endif %}">
                <img 
                  class="carousel-image" 
                  src="{{ featured_media | image_url: width: 70 }}"
                  loading="lazy"
                  width="70"
                  alt="{{ featured_media.alt | escape }}"
                  media-id="{{ featured_media.id }}"
                >
            </button>
          {%- endif -%}
        {% for image in product.images %}
          {% unless image.id == featured_media.id %}
            <button class="carousel-btn{% if variant_images contains image.src %} carousel-btn--variant{% else %} is-active{% endif %}">
                <img 
                  class="carousel-image" 
                  src="{{ image | image_url: width: 70 }}"
                  loading="lazy"
                  width="70"
                  alt="{{ image.alt | escape }}"
                  media-id="{{ image.id }}"
                >
            </button>
          {% endunless %}
        {% endfor %}
        </div>

    </section>
    
    <section id="product-info">

        <div id="product-headers">
            <h1 id="product-name">{{ product.title }}</h1>
            <h2 id="price">{{ product.selected_or_first_available_variant.price | money }}</h2>
        </div>
    
        {% form 'product', product %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        <select id="product-select" name="id">
            {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                    {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                >
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
            {% endfor %}
        </select>

        <script>
            var selectCallback = function(variant, selector) {
                if (variant) {
                    const currentImage = $("li.product-media-item.is-active > img");
                    const currentImageId = currentImage.attr("media-id");
                    if(variant.featured_image.id != currentImageId) {

                        const variantImageContainer = $("li.product-media-item > img[media-id="+variant.featured_image.id+"]").parent();
                        currentImage.parent().removeClass("is-active");
                        variantImageContainer.addClass("is-active");

                        const variantCarouselButton = $("button.carousel-btn--variant > img[media-id="+variant.featured_image.id+"]").parent();
                        const currentCarouselButton = $("button.carousel-selected-variant");
                        currentCarouselButton.removeClass("is-active carousel-selected-variant");
                        variantCarouselButton.addClass("is-active carousel-selected-variant ");
                    }
                    const price = Shopify.formatMoney(variant.price, "")
                    $("h2#price").text(price);
                    if(variant.available) {
                    }
                    else {
                    }
                }
                else {

                }
            }
            new Shopify.OptionSelectors('product-select', {
              product: {{ product | json }},
              onVariantSelected: selectCallback,
              enableHistoryState: true
            });
        </script>

            {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                        {% if option.name == "Color" %}
                        <legend>
                            <h3 class="product-title" id="product-title-color">Color: <span id="selected-color-name">{{ option.selected_value }}</span> </h3>
                        </legend>
                        <div id="swatch">
                            {% assign index = forloop.index0 %}
                            {% for value in option.values %}
                            <div>
                                <input 
                                    type="radio" 
                                    class="color-btn {% if option.selected_value == value %} selected {% endif %}" 
                                    id="color-{{ forloop.index }}" 
                                    name="color" 
                                    value="{{ value | escape }}"
                                    data-option-name="{{ value | replace: ' ', '-' | escape }}"
                                    option-index="{{index}}"
                                    {% if option.selected_value == value %} checked {% endif %}
                                >
                                <label 
                                    for="color-{{ forloop.index }}" 
                                    class="color-btn-label">
                                    <span>{{ value | escape }}</span>
                                </label>
                            </div>    
                            {% endfor %}
                        </div>
                        {% endif %}
                {% endfor %}
            {% endunless %}

            <h3 class="product-title" id="product-title-qty">Quantity</h3>

            <div id="grid-qty-atc">
                <div id="qty-wrapper">
                    <span class="qty-adjust" qty="-1" id="minus">-</span>
                    <input type="number" name="quantity" id="qty-box" min="1" value="1" inputmode="numeric">
                    <span class="qty-adjust" qty="1" id="plus">+</span>
                </div>
            </div>
            
            <button id="atc" type="submit"> Add to Cart </button>
            
        {% endform %}

        <div id="specs">

            <ul id="tabs" role="tablist">
                <li><a href="#" role="tab">Overview</a></li>
            </ul>

            <div id="description" role="tabpanel">
            {{ product.description }}
            </div>

        </div>
    </section>

</main>