{% comment %} 
Bugs/Limitations:
    - Can only have product images that correspond to color variants
        - Images not assigned to a color aren't shown when clicked
        - FIX: Add function to update main image when a carousel thumbnail is clicked
    - Product images, color variants, and color metadata must all be sorted in
        the same order
        - FIX: Have attribute tags that connect variant images to color variants
    - Only 1 image per color variant
        - FIX: Add data-color attribute for each color variation, refactor JS so that the 
            thumbnail buttons aren't connected to swatch buttons according to array order
    - Image carousel does not highlight which image is being displayed
    - Image carousel and color swatch don't automatically scroll to the image
        that is being displayed when a color is selected
{% endcomment %}

{{ 'product-page.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-page-jquery.js' | asset_url }}" type="module" defer="defer"></script>
{% style %}

  {% for color in product.metafields.custom.product_colors.value %}
    .color-btn-label[for="color-{{forloop.index}}"] {
        background-color: {{ color }}
    }
  {% endfor %}

{% endstyle %} 

<nav>
    <div class="nav-section" id="nav-logo">
        <a href="#">
        
        </a>
    </div>

    <div class="nav-section" id="nav-categories">
        <a href="#">Our Bottles</a>
        <a href="#">Our Impacts</a>
        <a href="#">Our Story</a>
    </div>

    <div class="nav-section" id="nav-cart">
    </div>
</nav>

<main id="product-container">
    
    <section id="img-container"> 
    
        <div id="img-main">
            {{ product.featured_image | image_url: width: 299| image_tag: class: 'product-image', id: 'main-image', loading: 'lazy' }}
        </div>

        <div id="img-horizontal-carousel">
        {% for image in product.images %}
            <button class="carousel-btn" id="{{ image.id }}">
            <img 
              src="{{ image | image_url: width: image.width }}" 
              alt="{{ image.alt }}" 
              class="carousel-image" 
              id="{{ image.id }}"
              loading="lazy"
              {% if image.attached_to_variant? %}
              data-variants="
              {% for variant in image.variants %}
                {{ variant.title | replace: ' ', '-' | replace: '-/-', ' ' }}
              {% endfor %}"
              {% endif %}>
            </button>
        {% endfor %}
        </div>

    </section>
    
    <section id="product-info">

        <div id="product-headers">
            <h1 id="product-name">{{ product.title }}</h1>
            <h2 id="price">{{ product.price | money }}</h2>
        </div>
    
        {% form 'product', product %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
     
            {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                        {% if option.name == "Color" %}
                        <legend>
                            <h3 class="product-title" id="product-title-color">Color: <span id="product-title-color-choice">White</span> </h3>
                        </legend>
                        <div id="swatch">
                            {% assign index = forloop.index %}
                            {% for value in option.values %}
                            <div>
                                <input 
                                    type="radio" 
                                    class="color-btn {% if option.selected_value == value %} selected {% endif %}" 
                                    id="color-{{ forloop.index }}" 
                                    name="color" 
                                    value="{{ value | escape }}"
                                    data-option-name="{{ value | replace: ' ', '-' | escape }}"
                                    {% if option.selected_value == value %} checked {% endif %}
                                >
                                <label 
                                    for="color-{{ forloop.index }}" 
                                    class="color-btn-label">
                                    <span>{{ value | escape }}</span>
                                </label>
                            </div>    
                            {% endfor %}
                        </div>
                        {% endif %}
                {% endfor %}
            {% endunless %}

            <h3 class="product-title" id="product-title-qty">Quantity</h3>

            <div id="grid-qty-atc">
                <div id="qty-wrapper">
                    <span class="qty-adjust" qty="-1" id="minus">-</span>
                    <input type="number" name="qty" id="qty-box" min="1" value="1" inputmode="numeric">
                    <span class="qty-adjust" qty="1" id="plus">+</span>
                </div>
            </div>
            
            <button id="atc" type="submit"> Add to Cart </button>
            
        {% endform %}

        <div id="specs">

            <ul id="tabs" role="tablist">
                <li><a href="#" role="tab">Overview</a></li>
            </ul>

            <div id="description" role="tabpanel">
            {{ product.description }}
            </div>

        </div>
    </section>

</main>